.actions_header {
    border-bottom: 1px solid #822000;
    color: #822000;
    font-size: 24px;
    font-weight: normal;
    font-family: "Scala Sans Offc",Roboto,Helvetica,sans-serif;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 15px;
}

.action {
  color: #242527;
}