@font-face {
  font-family: MrsEavesSmallCaps;
  src: url(fonts/MrsEavesSmallCaps.otf);
}

@font-face {
  font-family: 'Scala Sans Offc';
  src: url(fonts/ScalaSansOffc.ttf);
}

body {
  background-color: #36454f;
  color: white;
}

#root {
  display: flex;
  justify-content: center;
}

@import 'Separator';

@import 'Title';

@import 'Monster';

@import 'Header';

@import 'Attribute';

@import 'Monster_stats';

@import 'Monster_stat';

@import 'Special_abilities';

@import 'Actions';