.monster_name {
  font-weight: bold;
  font-size: 34px;
  font-family: MrsEavesSmallCaps, Roboto, Helvetica, sans-serif;
}

.monster_meta {
  font-style: italic;
  margin-bottom: 15px;
  color: #242527;
}